.images{
  
    display: grid;
    grid-template-columns: repeat(2, 55.118fr 40.1575fr);
    width: 100%;
    grid-template-areas: "ships bridge" 
                         "river bridge" 
                         "river bildings";
    gap: 25px;    
    align-self: stretch;
    margin-top: 276px;           
 }

@media (max-width:767px){
    .images{
    margin-top: 20px;
    justify-items: center;
    }
 }


 @media (max-width:1200px){
    .images{
    grid-template-rows: repeat(3, 144px 89px 144px);
    margin-top: 265px;
    justify-items: center;
    }
 }

 .ships{
     grid-area: ships;
 }
 
 .bridge{
     grid-area: bridge;
 }

 .river{
     grid-area: river;
 }

 .bildings{
     grid-area: bildings;
 }