.wrapper{
    display: inline-flex;
}


@media (max-width:767px){
    .wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
    }
 }

 
@media (max-width:1200px){
    .wrapper{
        width: 100%;
    }
 }